.vscode
.DS_Store

backend/.vscode
backend/API/bin
backend/API/obj
backend/API/Logs
backend/API/Properties
backend/API/appsettings.Development.json
backend/API/appsettings.json
backend/Core/bin
backend/Core/obj
backend/Data/bin
backend/Data/obj
backend/Models/bin
backend/Models/obj
backend/.DS_Store
backend/API/dump.rdb
backend/.DS_Store
backend/Makefile

frontend/node_modules/**/*
frontend/.expo/*
frontend/npm-debug.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/*.orig.*
frontend/web-build/

# macOS
frontend/.DS_Store

frontend/.eslintignore
frontend/.eslintrc
frontend/.prettierrc

frontend/node_modules/